.agncy-logo img { width: 149px; height: 25px;}

#cta {max-width: 450px; margin: 250px auto;}

#cta a {
  font-size: 30px;
}

#cta a:hover {
  border-bottom: none;
  transition: border-color .3s ease;
}

#contact-info li {
  display: inline;
}

#contact-info a {
  color: #fff;
  font-weight: normal;
}


#contact-info li:before {
  content: "//";
  padding:0 10px;
}

#contact-info li:first-child:before {
  content: none;
}

.agncy-f-preset-a .agncy-f-lc {
  width: 70%;
}

.agncy-f-preset-a .agncy-f-rc {
  width: 30%;
}

.agncy-f-preset-a .agncy-f-rc {
  text-align: right;
}


/*CONTACT PAGE*/

.page-id-2139 .brix-section-0 {
  padding-top: 50px;
}

.contact-cta .brix-section-column-inner-wrapper {
  background: #111;
  margin-left: -65px;
  color: #fff;
}

.contact-cta .brix-section-column-inner-wrapper  .brix-section-column-block-style-default .brix-block-button {
  color: #fff;
  border-color: #fff;
}

.contact-cta .brix-section-column-inner-wrapper h2 {
  color: #fff;
}

.contact-blocks {
  margin: 150px 0;
}

form input:not([type="submit"]), form textarea {
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-bottom: 60px;
}

form input[type="submit"] {
  position: relative;
    border: 2px solid;
    color: #111;
    border-color: #111;
    padding: .75em 1.5em;
    font-size: 15px;
    background: transparent;
    -webkit-transition: color .3s cubic-bezier(.86, 0, .07, 1);
    -moz-transition: color .3s cubic-bezier(.86, 0, .07, 1);
    transition: color .3s cubic-bezier(.86, 0, .07, 1);
    z-index: 1;
    font-family: inherit;
    font-weight: bold;
}

.wpcf7 p {
  margin: 0px;
  padding: 0px;
}

.wpcf7 h3 {
  margin-bottom: 20px;
}

.contact-details input:not([type="submit"]), form textarea {
  margin-bottom: 20px !important;
}

.contact-details .left-inputs {
  padding-right: 1%;
}

.contact-details .right-inputs {
  padding-left: 1%;
}

/*BREAKPOINTS*/

@media all and (max-width: 950px) {

  #contact-info {
    display: block;
  }

  .agncy-f-preset-a .agncy-f-lc {
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px;
  }

  .agncy-f-preset-a .agncy-f-rc {
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 835px) {
  .brix-section-column-block-agncy_team .agncy-team-col-3 li {
    width: 49.99999%;
  }

  .brix-section-column-block-agncy_team .agncy-team-col-3 li:nth-child(3n + 1) {
    clear: none;
  }
}

@media all and (max-width: 767px) {

  .our-studio {
    height:300px;
    width: 100%;
  }

  #start-project .contact-cta {
    margin-top: -60px !important;
    margin-left: 0px;
    width: 490px;
    margin: 0 auto;
    padding-top: 0px;
  }

  .contact-cta .brix-section-column-inner-wrapper {
    margin-left: 0px;
  }

  .contact-cta .brix-section-column-spacing-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .contact-blocks {
    text-align: center;
  }

  .contact-blocks .brix-col-1-3 {
    width: 100%;
  }

  .brix-col-5-12, .brix-col-1-3, .brix-col-1-2 {
    width: 100% !important;
  }

}

@media all and (max-width: 600px) {

  .contact-details .brix-col-1-2 {
    width: 100%;
  }

  form input:not([type="submit"]), form textarea {
    font-size: 15px;
  }

}

@media all and (max-width: 475px) {

  .brix-section-column-block-agncy_team .agncy-team-col-3 li {
    width: 100%;
  }

  #cta {
    text-align: center;
  }
}
